<html>
    <head>
    <title>Best Restaurants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>My Best Restaurants</h1>

            <h1><small>Add a Cuisine</small></h1>

            <form action="/cuisines" method="post">
                <label for="name">Cuisine Name:</label>
                <input type="text" name="name" id="name">

                <button type="submit" class="btn btn-info">Add</button>
            </form>

            <hr noshade size=4 width=100% align=left>

            {% if cuisines is not empty %}
                <h3>Here are all of the cuisines:</h3>
                <ul>
                    {% for cuisine in cuisines|sort %}
                        <li><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>There are no cuisines yet!</h3>
            {% endif %}

            <form action="/delete_cuisines" method="post">
                <button type="submit" class="btn btn-danger">Clear Cuisines</button>
            </form>
        </div>
    </body>
</html>
