<html>
    <head>
        <title>Best Restaurants</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Search Restaurants Result</h1>

            {% if search is not empty %}
                <h4>{{ search.getName }} is in your list!</h4>
                <ul>
                    <li>Description: {{ search.getDescription }}</li>
                    <li>Address: {{ search.getAddress }}</li>
                </ul>
            {% else %}
                <h3>{{ search_term }} is not in your list!</h3>
            {% endif %}

            <form action="/">
                <button type="submit" class="btn btn-success">Home</button>
            </form>
        </div>
    </body>
</html>
