<html>
    <head>
        <title>Best Restaurants</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Search Restaurants Result</h1>

            {% if search is not empty %}
                <h1><small>{{ search_term }} is in your list!</small></h1>
                {% for restaurants in search %}
                <ul>
                    <li>Description: {{ restaurants.getDescription }}</li>
                    <li>Address: {{ restaurants.getAddress }}</li>
                </ul>
                {% endfor %}
            {% else %}
                <h1><small>{{ search_term }} is not in your list!</small></h1>
            {% endif %}

            <form action="/">
                <button type="submit" class="btn btn-success">Home</button>
            </form>
        </div>
    </body>
</html>
